files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_db_writable.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            if [ ! -f /var/app/current/db.sqlite3 ]; then
                touch /var/app/current/db.sqlite3
            fi
            chmod 666 /var/app/current/db.sqlite3
            chown webapp:webapp /var/app/current/db.sqlite3

    "/opt/elasticbeanstalk/hooks/configdeploy/post/99_make_db_writable.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            if [ ! -f /var/app/current/db.sqlite3 ]; then
                touch /var/app/current/db.sqlite3
            fi
            chmod 666 /var/app/current/db.sqlite3
            chown webapp:webapp /var/app/current/db.sqlite3

container_commands:
    01_make_db_writable:
        command: |
            if [ ! -f /var/app/current/db.sqlite3 ]; then
                touch /var/app/current/db.sqlite3
            fi
            chmod 666 /var/app/current/db.sqlite3
            chown webapp:webapp /var/app/current/db.sqlite3
        leader_only: true

commands:
    01_make_current_writable:
        command: |
            mkdir -p /var/app/current
            chmod 777 /var/app/current
