files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_db_writable.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            if [ ! -f /opt/python/current/app/db.sqlite3 ]; then
                touch /opt/python/current/app/db.sqlite3
            fi
            chmod 666 /opt/python/current/app/db.sqlite3
            chown wsgi:wsgi /opt/python/current/app/db.sqlite3
